# 4.9 Customer Data Set

## Importing Libraries

In [3]:
import pandas as pd
import numpy as np
import os

## Importing Data

In [5]:
path = r'C:\Users\ariel\OneDrive\Desktop\School work\08-2020 Instacart Basket Analysis'

In [6]:
path

'C:\\Users\\ariel\\OneDrive\\Desktop\\School work\\08-2020 Instacart Basket Analysis'

In [7]:
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers', 'customers.csv'), index_col = False)

## Data Statistics

In [9]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [10]:
#Check dimensions
customers.shape

(206209, 10)

In [11]:
#Descriptive statistics
customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [12]:
#Check data types
customers.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

## Data Wrangling

In [14]:
#Wrangling data so that it follows consistent logic
customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [15]:
customers.rename(columns = {'Surnam' : 'surname'}, inplace = True)

In [16]:
customers.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [17]:
customers.rename(columns = {'Age' : 'age'}, inplace = True)

In [18]:
customers.rename(columns = {'STATE' : 'state'}, inplace = True)

In [19]:
customers.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [20]:
#Check Columns
customers.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'marital_status', 'income'],
      dtype='object')

In [21]:
customers.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependants,marital_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

## Data Quality and Consistent Checks

In [23]:
#Check Data Types
customers.dtypes

user_id            int64
first_name        object
surname           object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [24]:
# Checking for mixed data-types in each column
for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

first_name

In [25]:
#First name column has mixed data types and needs to be fixed
customers['first_name'] = customers['first_name'].astype('str')

In [26]:
#Changing the user ID column from integer to string data type 
customers['user_id'] = customers['user_id'].astype('str')

In [27]:
# Re-check the data-types in the data frame and for mixed data-types
customers.dtypes

user_id           object
first_name        object
surname           object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [28]:
#Re-checking for mixed data types
for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

In [29]:
#No Results

In [30]:
# Check for missing data
customers.isnull().sum()

user_id           0
first_name        0
surname           0
gender            0
state             0
age               0
date_joined       0
n_dependants      0
marital_status    0
income            0
dtype: int64

In [31]:
# Check for full-duplicates
customers_dups = customers[customers.duplicated()]

In [32]:
customers_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, n_dependants, marital_status, income]
Index: []

In [33]:
#Re-check descriptive statistics
customers.describe()

                 age   n_dependants         income
count  206209.000000  206209.000000  206209.000000
mean       49.501646       1.499823   94632.852548
std        18.480962       1.118433   42473.786988
min        18.000000       0.000000   25903.000000
25%        33.000000       0.000000   59874.000000
50%        49.000000       1.000000   93547.000000
75%        66.000000       3.000000  124244.000000
max        81.000000       3.000000  593901.000000

## Combine customer data with the rest of prepared Instacart data

In [35]:
#Import the rest of instacart data
ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_grouped.pkl'))

In [36]:
ords_prods.shape

(32404859, 25)

In [37]:
customers.shape

(206209, 10)

In [38]:
#Key column in user id. Check that the key column has the same data type in both data sets
ords_prods.dtypes['user_id']

dtype('int64')

In [39]:
customers.dtypes['user_id']

dtype('O')

In [40]:
#Make sure both key columns are the same data type
ords_prods['user_id'] = ords_prods['user_id'].astype('str')

In [41]:
ords_prods.dtypes['user_id']

dtype('O')

In [42]:
# Drop the existing '_merge' column from previous exercises
ords_prods = ords_prods.drop(columns=['_merge'])

In [43]:
ords_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'add_to_cart_order',
       'reordered', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_product_price', 'spending_flag', 'median_days_between_orders',
       'order_frequency'],
      dtype='object')

In [44]:
custs_ords_prods = ords_prods.merge(customers, on = 'user_id', indicator = True)

In [83]:
custs_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,...,first_name,surname,gender,state,age,date_joined,n_dependants,marital_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both

In [85]:
# Check inner join value counts
custs_ords_prods['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [87]:
# Check data-types
custs_ords_prods.dtypes

product_id                       int64
product_name                    object
aisle_id                         int64
department_id                    int64
prices                         float64
order_id                         int64
user_id                         object
eval_set                        object
order_number                     int64
orders_day_of_week               int64
order_hour_of_day                int64
days_since_last_order          float64
add_to_cart_order                int64
reordered                        int64
price_range_loc                 object
busiest_day                     object
busiest_days                    object
busiest_period_of_day           object
max_order                        int64
loyalty_flag                    object
mean_product_price             float64
spending_flag                   object
median_days_between_orders     float64
order_frequency                 object
first_name                      object
surname                         object
gender                          object
state                           object
age                              int64
date_joined                     object
n_dependants                     int64
marital_status                  object
income                           int64
_merge                        category
dtype: object

In [89]:
# Changing the data type in order id column to string
custs_ords_prods['order_id'] = custs_ords_prods['order_id'].astype('str')

In [91]:
custs_ords_prods.dtypes

product_id                       int64
product_name                    object
aisle_id                         int64
department_id                    int64
prices                         float64
order_id                        object
user_id                         object
eval_set                        object
order_number                     int64
orders_day_of_week               int64
order_hour_of_day                int64
days_since_last_order          float64
add_to_cart_order                int64
reordered                        int64
price_range_loc                 object
busiest_day                     object
busiest_days                    object
busiest_period_of_day           object
max_order                        int64
loyalty_flag                    object
mean_product_price             float64
spending_flag                   object
median_days_between_orders     float64
order_frequency                 object
first_name                      object
surname                         object
gender                          object
state                           object
age                              int64
date_joined                     object
n_dependants                     int64
marital_status                  object
income                           int64
_merge                        category
dtype: object

## Exporting New Combined Data Set

In [94]:
custs_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers_merged.pkl'))