## Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

## Importing Data

In [61]:
path = r'C:\Users\ariel\OneDrive\Desktop\School work\08-2020 Instacart Basket Analysis'

In [63]:
path

'C:\\Users\\ariel\\OneDrive\\Desktop\\School work\\08-2020 Instacart Basket Analysis'

In [11]:
#Importing Orders dataframe
df_ords = pd.read_csv(r"C:\Users\ariel\OneDrive\Desktop\School work\08-2020 Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv", index_col = False)

In [5]:
#Importing orders prior dataframe
df_ords_prior = pd.read_csv(r"C:\Users\ariel\OneDrive\Desktop\School work\08-2020 Instacart Basket Analysis\02 Data\Original Data\4.6_orders_products_prior\orders_products_prior.csv", index_col = False)

In [7]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords_prior.shape

(32434489, 4)

In [13]:
df_ords.shape

(3421083, 9)

## Merging Data Frames

In [16]:
#Merging the orders and orders prior data sets
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,11.11,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,11.11,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,11.11,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,11.11,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,11.11,26405,5,0,both

In [20]:
#Checking value counts
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Exporting the new dataframe

In [65]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))